.sticky{
    position: fixed;
    width: 100%;
}
.toggleImg{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.toggleImg:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.47945115546218486) 0%, rgba(0,0,0,0.4458377100840336) 96%);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.47945115546218486) 0%, rgba(0,0,0,0.4458377100840336) 96%);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.47945115546218486) 0%, rgba(0,0,0,0.4458377100840336) 96%);
  color: white;
}